.app{
    background-color: #B5313A;
}
.header{

}
.top__header {
    display: flex;
    background-color: #503629;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}
.top__header--title{
    display:flex;
    margin: auto;
}
.container__header{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 75px;
}
.container__header__child{
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    color: white;
}
.container__header--menu{
    display: flex;
    align-items: center;

}
.menu-content{
    cursor: pointer;
}
.menu-icon{

}
.fa-bars{
    font-size: 30px;
}
.menu-text{
    font-size: 10px;
    font-weight: 500;
}
.container__header--logo{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.logo-content{
    cursor: pointer;
}
.image-cafe{
    width: 120px;
}
.container__header--search{
    display: flex;
    align-items: center;
}
.search-bar {
    display: flex;
    background-color: white;
    width: 460px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
  }
  .search-input {
    color: black;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .search-button {
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .fa-magnifying-glass{
    color: #999;
    font-size: 20px;
    padding: 10px;
  }

.container__header--account{
    display: flex;
    align-items: center;
    margin-right: -30px;
}
.account-content{
    cursor: pointer;
}
.account-icon{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fa-user{
    font-size: 20px;
}
.account-text{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.container__header--cart{
    display: flex;
    align-items: center;
}
.cart-content{
    cursor: pointer;
    position: relative;
}
.cart-content:hover .cart-list{
    display: flex;
}
.cart-list{
    width: 380px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: flex;
    justify-content: center;
    display: none;
    animation: fadeIn linear 0.2s;
}
.cart-list::after{
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.no-cart-img{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cart-icon{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fa-cart-shopping{
    font-size: 20px;
}
.cart-text{
    font-size: 14px;
}


/* Signup CSS */
.signup-form{
    overflow: hidden;
    border-radius: 3px;
}
.signup-form__container{
    background-color: white;
    padding: 20px;
}
.signup-form__group{
    margin-bottom: 10px;
}
.signup-form__input{
    width: 100%;
    height: 30px;
    font-size: 13px;
    outline: none;
    padding-left: 8px;
}
.signup-form__aside{
    font-size: 11px;
    margin-bottom: 50px;
}
.signup-form__policy-link{
    text-decoration: none;
    color: #B5313A;
}



/* Login CSS */
.login-form{
    overflow: hidden;
    border-radius: 3px;
}
.login-form__container{
    background-color: white;
    padding: 20px;
}
.login-form__group{
    margin-bottom: 10px;
}
.login-form__input{
    width: 100%;
    height: 30px;
    font-size: 13px;
    outline: none;
    padding-left: 8px;
}
.login-form__aside{
    font-size: 11px;
    margin-bottom: 50px;
}
.login-form__help{
    display: flex;
    justify-content: flex-end;
}
.login-form__help-link{
    text-decoration: none;
    font-size: 13px;
    color: #939393;
}
.login-form__help-forgot{
    color: #B5313A;
}
.login-form__help-separate{
    display: block;
    height: 18px;
    border-left: 1px solid #EAEAEA;
    margin: 0px 10px;
}





/* Phần CSS chung cho cả Signup-form và Login-form */
.active-form{
    display: block;
}
.inactive-form{
    display: none;
}
.sl-form__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.active-btn {
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.inactive-btn {
    font-size: 13px;
    color: #B5313A;
    cursor: pointer;
}
.sl-form__controls{
    display: flex;
    justify-content: flex-end;
}
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}
.btn-back{
    margin-right: 8px;
}
.btn-back:hover{
    background-color: rgba(0,0,0,0.1);
}
.btn-sl{
    color: white;
    background-color: #B5313A;
}
.btn-sl:hover{
    opacity: 0.8;
}
.sl-form__socials{
    background-color: #ccc;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}
.btn-facebook{
    color: white;
    text-decoration: none;
    background-color: #3A5A98;
    font-size: 12px;
    width: 205px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.btn-facebook:hover{
    opacity: 0.8;
}
.fa-facebook{
    width: 18px;
    margin-right: 20px;
}
.btn-google{
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 12px;
    width: 205px;
    padding: 5px 10px;
    display: flex;
    align-items: center;

}
.btn-google:hover{
    opacity: 0.8;
}
.fa-google{
    width: 18px;
    margin-right: 20px;
}